.calculator {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid red;
    box-shadow: 0 0 10px black;
    background-color: bisque;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 95%;
    height: 80px;
}

input {
    width: 100%;
    font-size: 30px;
    padding: 12px;
    text-align: right;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.result {
    font-size: 2.5em;
    color: black;
    margin: 0 170px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.buttons button {
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid bisque;
    cursor: pointer;
    background-color: rgb(181, 130, 63);
    transition: background-color 0.2s;
}

.buttons button:hover {
    background-color: aquamarine;
}